@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l665me');
  src:  url('fonts/icomoon.eot?l665me#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l665me') format('truetype'),
    url('fonts/icomoon.woff?l665me') format('woff'),
    url('fonts/icomoon.svg?l665me#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-visa:before {
  content: "\e901";
}
.icon-arrow_left:before {
  content: "\e902";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-buy_now_pay_later:before {
  content: "\e904";
}
.icon-camera:before {
  content: "\e905";
}
.icon-card:before {
  content: "\e906";
}
.icon-deposit:before {
  content: "\e907";
}
.icon-dollar:before {
  content: "\e908";
}
.icon-dots:before {
  content: "\e909";
}
.icon-error_triangle:before {
  content: "\e90a";
}
.icon-eur:before {
  content: "\e90b";
}
.icon-external:before {
  content: "\e90c";
}
.icon-eye:before {
  content: "\e90d";
}
.icon-fail:before {
  content: "\e90e";
}
.icon-gbp:before {
  content: "\e90f";
}
.icon-history:before {
  content: "\e910";
}
.icon-invite_friends:before {
  content: "\e911";
}
.icon-like:before {
  content: "\e912";
}
.icon-lock_filled:before {
  content: "\e913";
}
.icon-lock:before {
  content: "\e914";
}
.icon-logo_full:before {
  content: "\e915";
}
.icon-logo:before {
  content: "\e916";
}
.icon-savings:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-select_arrows:before {
  content: "\e919";
}
.icon-settings:before {
  content: "\e91a";
}
.icon-smart_treasury:before {
  content: "\e91b";
}
.icon-staking:before {
  content: "\e91c";
}
.icon-success_circle:before {
  content: "\e91d";
}
.icon-success:before {
  content: "\e91e";
}
.icon-theme_dark:before {
  content: "\e91f";
}
.icon-theme_light:before {
  content: "\e920";
}
.icon-theme_selected:before {
  content: "\e921";
}
.icon-theme_system:before {
  content: "\e922";
}
.icon-tooltip:before {
  content: "\e923";
}
.icon-top_up:before {
  content: "\e924";
}
.icon-withdraw:before {
  content: "\e925";
}
